<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head')%>
  <% function randomPastelColor() {
    const r = Math.floor(Math.random() * 106) + 150; // 150 - 255
    const g = Math.floor(Math.random() * 106) + 150; // 150 - 255
    const b = Math.floor(Math.random() * 106) + 150; // 150 - 255

      return `#${r.toString(16).padStart(2, '0')}${g.toString(16).padStart(2, '0')}${b.toString(16).padStart(2, '0')}`;
  }%>
  <body style="background-color: <%=randomPastelColor()%>">
    <%-include('partials/headerLogo')%>
    <div class="d-flex align-items-center flex-column justify-content-center vh-90">
      <h1 class="pb-4">Desde Clefchamp no lo podemos creer</h1>
      <% let random = Math.floor(Math.random() * 20) + 1; %>
      <img src="/images/1600w/404error-<%=random%>.png" style="max-width: 25em;max-height: 25em;">
      <h1 class="pt-4">La página no aparece por ningún sitio</h1>
      <h3>Error 404</h3>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
