<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
      <%-include('partials/header') %>
      <div class="row d-flex">
        <div class="col scrollable container-fluid vh-90 mx-sm-5">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col"></div>
            <div class="col d-flex justify-content-center align-items-center">

              <button class="mb-2 acceptButton-sm" id="searchFriend">Buscar amigos</button>
            </div>
            <div class="col"></div>
          </div>
          <div class="d-flex bg-15 rounded-4 mb-sm-4 mb-1 mx-1">
              <h1 id="friendsBtn" class="col mx-sm-5 text-center cursorPointer" style="margin-bottom: 0;border-radius: 1em;">Amigos</h1>
              <h1 id="sentRequestBtn" class="col mx-sm-5 text-center cursorPointer" style="margin-bottom: 0;border-radius: 1em;">Solicitudes enviadas</h1>
              <h1 id="recivedRequestBtn" class="col mx-sm-5 text-center cursorPointer" style="margin-bottom: 0;border-radius: 1em;">Solicitudes recibidas</h1>
          </div>
          <div class="row mx-1">
            <div id="friendsParent" class="d-flex flex-column justify-content-center">
              <p id="friendsNone" class="friendsDiv text-center mt-4">No tienes amigos añadidos todavía.</p>
              <% friendList.forEach(ele => { %>
                <div class="row mt-4 py-1 bg-10 rounded-3 friendsDiv friend<%=ele.id%>" data-id="<%=ele.id%>">
                  <div class="col d-flex justify-content-center">
                    <div style="background-color: <%=ele.bgColor%>;" class="p-2 rounded-circle">
                      <img class="friendIcon" src="/images/svg/<%=ele.path%>" alt="Icono de perfil del amigo">
                    </div>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <h3 class="col"><%=ele.tagname%></h3>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <button data-action="accept" style="display: none;" class="friend-btn" title="Aceptar solicitud"><img src="/images/icons/accept.svg" alt="Icono de aceptar"></button>
                    <button data-action="reject" style="display: none;" class="friend-btn" title="Rechazar solicitud"><img src="/images/icons/reject.svg" alt="Icono de rechazar"></button>
                    <button data-action="cancel" style="display: none;" class="friend-btn" title="Cancelar petición"><img src="/images/icons/cancel.svg" alt="Icono de cancelar"></button>
                    <button data-action="delete" class="friend-btn" title="Eliminar amigo"><img src="/images/icons/delete.svg" alt="Icono de eliminar"></button>
                  </div>
                </div>
              <% }); %>
              <p id="sentRequestNone" class="sentRequestDiv text-center mt-4" hidden>No has enviado ninguna solicitud de amistad.</p>
              <% sentList.forEach(ele => { %>
                <div class="row mt-4 py-1 bg-10 rounded-3 sentRequestDiv sent<%=ele.id%>" data-id="<%=ele.id%>" hidden>
                  <div class="col d-flex justify-content-center">
                    <div style="background-color: <%=ele.bgColor%>;" class="p-2 rounded-circle">
                      <img class="friendIcon" src="/images/svg/<%=ele.path%>" alt="Icono de perfil del amigo">
                    </div>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <h3 class="col"><%=ele.tagname%></h3>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <button data-action="accept" style="display: none;" class="friend-btn" title="Aceptar solicitud"><img src="/images/icons/accept.svg" alt="Icono de aceptar"></button>
                    <button data-action="reject" style="display: none;" class="friend-btn" title="Rechazar solicitud"><img src="/images/icons/reject.svg" alt="Icono de rechazar"></button>
                    <button data-action="cancel" class="friend-btn" title="Cancelar petición"><img src="/images/icons/cancel.svg" alt="Icono de cancelar"></button>
                    <button data-action="delete" style="display: none;" class="friend-btn" title="Eliminar amigo"><img src="/images/icons/delete.svg" alt="Icono de eliminar"></button>
                  </div>
                </div>
              <% }); %>
              <p id="recivedRequestNone" class="recivedRequestDiv text-center mt-4" hidden>No tienes solicitudes de amistad pendientes.</p>
              <% receivedList.forEach(ele => { %>
                <div class="row mt-4 py-1 bg-10 rounded-3 recivedRequestDiv recived<%=ele.id%>" data-id="<%=ele.id%>" hidden>
                  <div class="col d-flex justify-content-center">
                    <div style="background-color: <%=ele.bgColor%>;" class="p-2 rounded-circle">
                      <img class="friendIcon" src="/images/svg/<%=ele.path%>" alt="Icono de perfil del amigo">
                    </div>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center">
                    <h3 class="col"><%=ele.tagname%></h3>
                  </div>
                  <div class="col d-flex align-items-center justify-content-center"> 
                    <button data-action="accept" class="friend-btn" title="Aceptar solicitud"><img src="/images/icons/accept.svg" alt="Icono de aceptar"></button>
                    <button data-action="reject" class="friend-btn" title="Rechazar solicitud"><img src="/images/icons/reject.svg" alt="Icono de rechazar"></button>
                    <button data-action="cancel" style="display: none;" class="friend-btn" title="Cancelar petición"><img src="/images/icons/cancel.svg" alt="Icono de cancelar"></button>
                    <button data-action="delete" style="display: none;" class="friend-btn" title="Eliminar amigo"><img src="/images/icons/delete.svg" alt="Icono de eliminar"></button>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
      <%-include('partials/modal/searchFriend') %>
    <script src="/javascripts/friends.js"></script>
  </body>
</html>
