<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="vh-90" id="mainContent">
      <div class="d-flex align-items-center justify-content-center gap-4">
        <% if (locals.mode !== "TRIAL" ) { %>
          <div class=" rounded-4 p-4 d-flex flex-column text-center">
            <h1>hey</h1>
          </div>
        <% } %>
        <%-include('partials/playground') %>
        <% if (locals.mode !== "TRIAL" ) { %>
          <div id="divResultados" class="box rounded-4 p-4 d-flex flex-column text-center">
            <div id="resultDiv">
              <h2>Has acertado un <span id="resultSpan"> </span></h2>
            </div> 
            <div id="experienceDiv">
              <h1>+<span id="experienceSpan"></span> exp.</h1>
            </div>
            <div id="totalExpDiv" class="colorNuevo5 rounded-4 p-2">
              <h2>Nivel <span id="levelSpan"><%=locals.user.level%></span></h2>
              <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 8px; background-color: white;">
                <% const progress = ((locals.user.experience) / (locals.user.experience + locals.user.experienceToNext)) * 100; %>
                <div id="experienceBar" class="progress-bar" style="width: <%=progress%>%"></div>
              </div>
            </div>
            <div id="playAgainDiv" class="p-2">
              <button id="playAgainBtn" class="acceptButton-sm">Volver a jugar</button>
            </div>
          </div>
        <% } else { %>
          <div id="divResultados" class="box rounded-4 p-4 d-flex flex-column text-center">
            <div id="resultDiv">
              <h2>Unete! <span id="resultSpan"> </span></h2>
            </div> 
            <div id="experienceDiv">
              <h1><span id="experienceSpan"></span></h1>
            </div>
            <div id="totalExpDiv" class="colorNuevo5 rounded-4 p-2">
            </div>
            <div id="playAgainDiv" class="p-2">
              <button id="playAgainBtn" class="acceptButton-sm">Volver a jugar</button>
            </div>
          </div>
        <% } %>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button id="startBtn" class="acceptButton mt-4">Comenzar</button>
      </div>
    </div>
    <%-include('partials/footer') %>
    <div id="tutorialModal" class="modal " tabindex="-1" >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4" style="border:0; background-color: #F2E7DC">
          <div class="modal-body d-flex align-items-center">
            <h3 class="modal-title mx-auto">¿Como funciona?</h3>
          </div>
          <div class="row py-5">
            <!-- -- -->
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active row">
                  <p class="text-center my-5">Irán apareciendo distintas notas en pantalla </p>
                </div>
                <div class="carousel-item">
                  <p class="text-center my-5">Las teclas estan asociadas a una nota tal y como se muestra</p>
                </div>
                <div class="carousel-item">
                  <p class="text-center my-5">Adivina el mayor numero de notas en el menor tiempo posible</p>
                </div>
              </div>
              <button class="carousel-control-prev" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- -- -->
          </div>
          <div class="row px-4 align-items-center py-2">
            <% if (locals.mode !== "TRIAL" ) { %>
            <div class="col">
              <input id="showModalCheck" type="checkbox" class="form-check-input">
              <span>No volver a mostrar</span>
            </div>
            <% } %>
            <div class="col d-flex justify-content-center">
              <button id="closeModal" type="button" data-bs-dismiss="modal" class="acceptButton-sm mx-auto">Aceptar</button>
            </div>
            <% if (locals.mode !== "TRIAL" ) { %>
              <div class="col">
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div id="levelUpModal" class="modal " tabindex="-1" >
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content rounded-4" style="border:0; background-color: #F2E7DC">
          <div class="modal-body d-flex align-items-center">
            <h3 class="modal-title mx-auto">¡Enhorabuena!</h3>
          </div>
          <div class="row py-5">
            <h4>Subes de nivel</h4>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>
    <script type="module" src="/javascripts/vexManager.js"></script>
    <script type="module" src="/javascripts/cronometro.js"></script>
    <script type="module" src="/javascripts/animations.js"></script>
    <script type="module" src="/javascripts/gameCore.js"></script>
    <script src="/javascripts/dontShowAgain.js"></script>
  </body>
</html>