<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="row d-flex">
      <div class="col scrollable container-fluid vh-90 mx-5">
        <div class="row bg-15 rounded-4 mx-1 px-2">
          <% const levels = [{ id: 'easy', name: 'Fácil', res: easyRes }, { id: 'normal', name: 'Normal', res: normalRes }, { id: 'hard', name: 'Difícil', res: hardRes }]; %>
          <% levels.forEach(level => { %>
            <h1 id="<%= level.id %>Btn" class="col mx-5 text-center cursorPointer" style="margin-bottom: 0;"><%= level.name %></h1>
          <% }); %>
        </div>
        
        <% levels.forEach(level => { %>
          <% level.res.forEach((entry, i) => { %>
            <div class="row bg-15 rounded-4 mx-1 mt-1 px-2 <%= level.id %>Div" <%= level.id !== 'easy' ? 'hidden' : '' %>>
              <div class="col-1 d-flex">
                <h1 class="my-auto bg-15 rounded-4 p-3 px-4"><%= i + 1 %>.</h1>
              </div>
              <div class="col-1 d-flex">
                <!-- <img src="/images/svg/<%= entry.path %>" style="max-width: 5em; max-height: 5em;" class="rounded-circle my-auto"> -->
                <div  style="background-color: <%= entry.bgColor %>; padding: 1em; margin-top:0.5em; margin-bottom:0.5em" class="rounded-circle d-flex justify-content-center align-items-center">
                  <img id="selectionIcon" src="/images/svg/<%= entry.path %>" style="max-width: 3.5em; max-height: 3.5em;min-width: 3.5em; min-height: 3.5em; ">
                </div>
              </div>
              <div class="col-2 d-flex">
                <div class="my-auto">
                  <h1><%= entry.tagname %></h1>
                  <h4><%= entry.friendCode %></h4>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col pt-4 d-flex align-items-center">
                    <h3>Atrapa-do</h3>
                  </div>
                  <div class="col">
                    <h5 class="text-center"><span class="display-1"><%= entry.points %></span> ptos.</h5>
                  </div>
                  <div class="col text-end">
                    <span class="fs-3"><%= entry.time.day %>-<%= entry.time.month %>-<%= entry.time.year %></span>
                    <% if (entry.time.hour !== undefined) { %>
                      <div><span class="fs-5"><%= entry.time.hour %>:<%= entry.time.minutes %></span></div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        <% }); %>
      </div>
    </div>  
    <%-include('partials/footer') %>
    <script src="/javascripts/clipboard.js"></script>
    <script src="/javascripts/ranking.js"></script>
  </body>
</html>
