<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <% if(!user) { %>
    <div class="d-flex align-items-center justify-content-center vh-90" >
      <div>
        <h1 class="text-center indexTitle" >Clefchamp</h1>
        <h2 class="text-center"> Plataforma de aprendizaje musical mediante gamificación</h2>
        <div class="d-flex justify-content-center mt-5">
          <a href="/play/atrapado/trial"><button class="cancelButton me-5">Prueba de nivel</button></a>
          <a href="/moreInformation"><button class="acceptButton">Saber más</button></a>
        </div>
      </div>
    </div>
    <% } else { %>  
    <div class="vh-90">
      <div class="row">
        <div class="col">
          <div class="bg-15 rightRounded row w-90">
            <div class="col">
              <div class="rightRounded justify-content-end mt-3 py-2 pe-4 d-flex w-60 colorNuevo1">
                <h3><%=user.name%></h3>
              </div>
              <div class="d-flex justify-content-end pt-3 text-white w-75">
                <span><%=user.experience%>/<%=user.experience + user.experienceToNext%></span>
              </div>
              <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="<%=user.experience%>" aria-valuemin="0" aria-valuemax="<%=user.experience + user.experienceToNext%>">
                <% let percentage = ((user.experience)/(user.experience + user.experienceToNext))*100 %>
                <div id="levelBar" class="progress-bar bg-success slider overflow-visible text-dark" style="width: <%=percentage%>%" >
                  <h3 id="levelText" class="ps-5 pt-1">Nivel <span><%=user.level%></span></h3>
                </div>
              </div>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
              <a href="/users/profile" ><img src="/images/<%=user.icon%>" class="rounded-circle my-1 me-2 userIcon" ></a>
            </div>
          </div>
        </div>
        <div class="col">
          
        </div>
      </div>
      
      <div class="d-flex justify-content-center my-5 mx-3">
        <div class="col me-5 ms-4">
          <a href="/play/selectGame"><button class="cancelButton w-100 mb-4">Jugar</button></a>
        </div>
        <div class="col me-5 ms-4">
          <a id="lastPlayed"><button id="lastPlayedBtn" class="cancelButton w-100 "></button></a>
        </div>
        <div class="col-2">
          <a style="color:black; text-decoration: none;" class="fs-5" href="/users/globalRanking"><button class="bg-35 border-0 rounded-4 w-100 mt-1 p-4" >Ranking</button></a>
          <a style="color:black; text-decoration: none;" class="fs-5" href="/users/profile"><button class="bg-35 border-0 rounded-4 w-100 mt-1 p-4" >Estadísticas</button></a>
          <a style="color:black; text-decoration: none;" class="fs-5" href="/users/profile"><button class="bg-35 border-0 rounded-4 w-100 mt-1 p-4" >Perfil</button></a>
          <a style="color:black; text-decoration: none;" class="fs-5" href="/users/profile"><button class="bg-35 border-0 rounded-4 w-100 mt-1 p-4" >Ajustes</button></a>
          <a style="color:black; text-decoration: none;" class="fs-5" href="/users/profile"><button class="bg-35 border-0 rounded-4 w-100 mt-1 p-4" >Amigos</button></a>

        </div>
      </div>
        <!-- ----- -->
      <audio id="audio" ></audio>
      <div class="w-100 bg-15 d-flex justify-content-center" style="position: absolute; bottom: 1em" >
        <div class="col ps-4 d-flex align-items-start flex-column justify-content-center">
          <div class="row">
            <h2 id="songTitle">Song Title</h2>
          </div>
          <div class="row">
            <h4 id="songArtist">Song Artist</h4>
            </div>
        </div>
        <div class="col">
          <div class="row mx-4 px-4 pt-4">
            <div class="col">
              <img id="prevBtn" src="/images/icons/skip-previous.svg" class="musicIcons">
            </div>
            <div class="col">
              <img id="rewindBackBtn" src="/images/icons/rewind-5-back.svg" class="musicIcons">
            </div>
            <div class="col">
              <img id="playPauseBtn" src="/images/icons/play.svg" class="musicIcons">
            </div>
            <div class="col">
              <img id="rewindForwardBtn" src="/images/icons/rewind-5-forward.svg" class="musicIcons">
            </div>
            <div class="col">
              <img id="nextBtn" src="/images/icons/skip-next.svg" class="musicIcons">
            </div>
          </div>
          <div class="row py-3">
            <input id="progressBar" class="musicControl" type="range" value="0" step="1" max="100">
          </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <img id="soundSvg" src="/images/icons/volume-small.svg" class="musicIcons me-2">
          <input id="volumeControl" class="musicControl" type="range" value="33" step="1" max="100">
        </div>
      </div>
        <!-- ----- -->
    </div>
    <% } %>
    <%-include('partials/footer') %>
    <% if(user) { %> <script src="/javascripts/musicPlayer.js"></script> <% } %>
    <script>
      $(document).ready(function() {
        let difficulty = localStorage.getItem("lastPlayed") || "EASY"; // Valor por defecto si es null
        
        // Configurar enlace dinámico
        $("#lastPlayed").attr("href", "/play/atrapado/" + difficulty.toLowerCase());
        
        // Determinar el texto de la dificultad
        let dificultad = "Fácil"; // Valor por defecto
        if (difficulty === "NORMAL") dificultad = "Normal";
        if (difficulty === "HARD") dificultad = "Difícil";
        
        // Actualizar el texto del botón
        $("#lastPlayedBtn").text("Jugar a Atrapa-do " + dificultad);
      })

    </script>
  </body>
</html>