<!DOCTYPE html>
<html lang="es">
<%-include('partials/head') %>

  <body>
    <div class="fakeBody colorNuevo1">
      <%#-include('partials/header') %>
      <div class="   d-flex align-items-center">
        <div id="sideBar" class="col-1 colorNuevo3" > <!-- Este es el sidebar-->
          <div class="row justify-content-center align-items-center">
            <img src="/images/homeIcon.png" class="w-50">
          </div>
          <div class="row justify-content-center align-items-center">

            <button id="toggleSideBar">Cierra</button>
          </div>
        </div>
        <div class="col"> <!-- Todo queda contenido dentro de este col -->
          <div class="row bg-primary">
            El verdadero header
          </div>
          <div class="row">
            <div class="col-4 bg-warning">
              <div class="row justify-content-center">
                <img class="rounded-circle w-50" src="/images/<%=locals.user.icon%>" alt="Imagen de perfil">
              </div>
              <div class="row">
                <h4 id="friendCode">Codigo de amigo: <%=locals.user.friendCode%></h4>
              </div>
              <div class="row">
                <button type="button" id="copyFriendCode" class="w-25 btn btn-primary">Copiar al portapapeles</button>
              </div>
            </div>
            <div class="col"> <!-- col de iconos de perfil y informacion-->
              <div class="row">
                <h2>Te uniste el:</h2>
                <h2><%=locals.user.joindate.day%>/<%=locals.user.joindate.month%>/<%=locals.user.joindate.year%></h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  <script src="/javascripts/clipboard.js"></script>
  </body>
</html>