<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="row d-flex">
      <div class="col-4 vh-90 px-4  container-fluid" >
        <div class="bg-15 rounded-4 p-2 text-center d-flex flex-column align-items-center " style="height:43vh; margin-bottom: 1vh;">
          <div id="bgDiv" class="p-4 rounded-circle" style="background-color: <%=user.bgColor%>">
            <img id="imgDiv" src="/images/svg/<%=user.path%>" class="rounded-circle userIcon" >
          </div>
          <h5 class="my-4">Pincha en el icono para cambiarlo</h5>
          
          <div class="rounded-circle svgIcons editIcon" style="background-image: url('/images/editIcon.svg'); height:10em; width: 10em; "></div>
          <!-- <div class="rounded-circle svgIcons profileIcon" style="background-image: url('/images/<%=locals.user.path%>'); "></div> -->
          <h3 class=" mt-1"><%=locals.user.name%></h3>
          <h3>Nivel <%=locals.user.level%></h3>
          <div id="profileProgress" class="progress rounded-5 w-75" role="progressbar" aria-label="Success striped example" aria-valuenow="<%=user.experience%>" aria-valuemin="0" aria-valuemax="<%=user.experience + user.experienceToNext%>">
            <% let progress = ((user.experience)/(user.experience + user.experienceToNext))*100 %>
            <div id="levelBar" class="progress-bar bg-success slider overflow-visible text-dark" style="width: <%=progress%>%" >
              <span id="levelText" class="ps-5"><%=locals.user.experience%>/<%=(locals.user.experience+locals.user.experienceToNext) %></span>
            </div>
          </div>
        </div>
        <div class="bg-15 rounded-4 p-1 align-items-center justify-content-center d-flex flex-column" style="height:12vh; margin-bottom: 1vh;">
            <h3>Te uniste el:</h3>
            <h5><%=locals.user.joindate.day%>/<%=locals.user.joindate.month%>/<%=locals.user.joindate.year%></p>
        </div>
        <div class="bg-15 rounded-4 p-2 text-center d-flex align-items-center justify-content-center" style="height:12vh; margin-bottom: 1vh;">
          <div class="col-6 d-flex flex-column  ">
            <div class="row">
              <h3>Codigo de amigo</h3>
            </div>
            <div class="row">
              <h5 id="friendCode"><%=locals.user.friendCode%></h5>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center ">
            <a id="copyFriendCode" class="cursorPointer;"><img src="/images/icons/copy.svg" class="friendCodeImg"></a>
          </div>
        </div>
      </div>
      <div class="col-8 scrollable container-fluid" style="height:88vh; margin-left: -40px;">
        <h1 class="rounded-4">Mejores partidas</h1>
        <% if(topRecords.length > 2)  { %>
        <div class="row mx-5">
          <div class="col my-4 text-center pt-3 secondPlaces" style="background-color: #C0BEBE; border-radius: 2em 2em 0 0;">
            <div class="row rounded-5 p-2 bg-white mx-1">
                <img src="/images/icons/crown.svg" class="mt-4 crownImg">
                <h1><%=topRecords[1].points%> ptos.</h1>
                <h2><%=topRecords[1].time.day%>-<%=topRecords[1].time.month%>-<%=topRecords[1].time.year%></h2>
                <h2>Atrapa-do</h2>
                <% let color1 = "pastelGreen"; if (topRecords[1].difficulty === "NORMAL") color1= "pastelBlue"; if(topRecords[1].difficulty === "HARD") color1="pastelRed"; %>
                <% let dificultad1 = "Fácil"; if (topRecords[1].difficulty === "NORMAL") dificultad1= "Normal"; if(topRecords[1].difficulty === "HARD") dificultad1="Difícil";  %>
                <h4 class="<%=color1%> rounded-4"><%=dificultad1%></h4>
            </div>
            <div class="row my-2 p-1">
              <h1>2º</h1>
            </div>
          </div>
          <div class="col my-4 text-center pt-3" style="background-color: #EBD244; border-radius: 2em 2em 0 0;">
            <div class="row rounded-5 p-2 bg-white mx-1">
                <img src="/images/icons/crown.svg" class="mt-4 crownImg">
                <h1><%=topRecords[0].points%> ptos.</h1>
                <h2><%=topRecords[0].time.day%>-<%=topRecords[0].time.month%>-<%=topRecords[0].time.year%></h2>
                <h2>Atrapa-do</h2>
                <% let color0 = "pastelGreen"; if (topRecords[0].difficulty === "NORMAL") color0= "pastelBlue"; if(topRecords[0].difficulty === "HARD") color0="pastelRed"; %>
                <% let dificultad0 = "Fácil"; if (topRecords[0].difficulty === "NORMAL") dificultad0= "Normal"; if(topRecords[0].difficulty === "HARD") dificultad0="Difícil";  %>
                <h4 class="<%=color0%> rounded-4"><%=dificultad0%></h4>
            </div>
            <div class="row my-2 p-1">
              <h1>1º</h1>
            </div>
          </div>
          <div class="col my-4 text-center pt-3 secondPlaces" style="background-color: #B75D0E; border-radius: 2em 2em 0 0;">
            <div class="row rounded-5 p-2 bg-white mx-1">
                <img src="/images/icons/crown.svg" class="mt-4 crownImg">
                <h1><%=topRecords[2].points%> ptos.</h1>
                <h2><%=topRecords[2].time.day%>-<%=topRecords[2].time.month%>-<%=topRecords[2].time.year%></h2>
                <h2>Atrapa-do</h2>
                <% let color2 = "pastelGreen"; if (topRecords[2].difficulty === "NORMAL") color2= "pastelBlue"; if(topRecords[2].difficulty === "HARD") color2="pastelRed"; %>
                <% let dificultad2 = "Fácil"; if (topRecords[2].difficulty === "NORMAL") dificultad2= "Normal"; if(topRecords[2].difficulty === "HARD") dificultad2="Difícil";  %>
                <h4 class="<%=color2%> rounded-4"><%=dificultad2%></h4>
            </div>
            <div class="row my-2 p-1 " style="background-color: #B75D0E;">
              <h1>3º</h1>
            </div>
          </div>
        </div>
        <% } else { %>
          <h4 class="text-center bg-5 p-4 rounded-4 m-4" style="color: #757575"> Aún no has jugado partidas suficientes...</h4>
        <% } %>
        <h1 class="rounded-4">Historial</h1>
        <% if(records.length === 0)  { %>
          <h4 class="text-center bg-5 p-4 rounded-4 m-4" style="color: #757575"> Aquí podrás consultar tus partidas</h4>
        <% } else { %>
          <% for(let i = 0; i < records.length; i ++) { %>
          <div class="row bg-15 rounded-4 mx-1 mt-1 px-2">
            <div class="col">
              <div class="row">
                <div class="col pt-4 d-flex align-items-center">
                  <h3>Atrapa-do</h3>
                </div>
                <div class="col">
                  <div class="row">
                    <h5 class="text-center"><span class="display-1"><%=records[i].points%></span> ptos.</h5>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <span class="fs-3 text-end"><%=records[i].time.day%>-<%=records[i].time.month%>-<%=records[i].time.year%></span>
                  </div>
                  <div class="row">
                    <span class="fs-5 text-end"><%=records[i].time.hour%>:<%=records[i].time.minutes%></span>
                  </div>
                </div>
              </div>
              <% let color = "pastelGreen"; if (records[i].difficulty === "NORMAL") color= "pastelBlue"; if(records[i].difficulty === "HARD") color="pastelRed"; %> 
              <div class="row d-flex <%=color%> my-1 rounded-4">
                <div class="col-4 d-flex justify-content-center"></div>
                <% let dificultad = "Fácil"; if (records[i].difficulty === "NORMAL") dificultad= "Normal"; if(records[i].difficulty === "HARD") dificultad="Difícil";  %>
                <div class="col-4 d-flex justify-content-center"><span class="fs-5"><%=dificultad%></span></div>
                <div class="col-4 d-flex justify-content-end align-items-center"><span>ID de partida: <%=records[i].gameId%></span></div>
              </div>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>
    </div>  
    <%-include('partials/footer') %>
    <%-include('partials/modal/selectIcon') %>
  <script src="/javascripts/clipboard.js"></script>
  <script src="/javascripts/icons.js"></script>
  </body>
</html>