<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="row">
      <div class="col-4">
        <div class=" rounded-4 p-4 m-1 text-center d-flex bg-dark justify-content-center" style="position: relative;">
          <div class="rounded-circle svgIcons profileIcon" style="background-image: url('/images/<%=locals.user.icon%>'); "></div>
          <div class="rounded-circle svgIcons editIcon" style="background-image: url('/images/editIcon.svg'); "></div>
        </div>
        <div class="bg-info rounded-4 p-4 m-1 text-center">
          <h2>Te uniste el:</h2>
          <h2><%=locals.user.joindate.day%>/<%=locals.user.joindate.month%>/<%=locals.user.joindate.year%></h2>
        </div>
        <div class="bg-info rounded-4 p-4 m-1 text-center">
          <h2>Codigo de amigo</h2>
        </div>
        <div class="bg-info rounded-4 p-4 m-1 text-center">
          <h2>Amigo del alma</h2>
        </div>
      </div>
      <div class="col">

      </div>
    </div>  
    <%-include('partials/footer') %>
  <script src="/javascripts/clipboard.js"></script>
  <script>
    // setInterval(() => {
    //   window.location.reload();
    // }, 1500);
  </script>
  </body>
</html>