<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body class="colorNuevo5">
    <%-include('partials/header') %>
    <div class="vh-90" id="mainContent">
      <div class="d-flex align-items-center justify-content-center gap-4">

        <%-include('partials/playground') %>
        <div id="divResultados" class="box rounded-4 p-4 d-flex flex-column text-center">
          <div>
            <h2>Has acertado un <span id="resultSpan"> </span></h2>
          </div> 
          <div>
            <h4 id="experienceSpan"> </h4>
          </div>
          <div class="colorNuevo5 rounded-4 p-2">
            <h2>Nivel <%=locals.user.level%> </h2>
            <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 4px; background-color: white;">
              <!-- <div class="progress-bar" style="width: <%= ((locals.user.experience) / (locals.user.experience + locals.user.experienceToNext) * 100)%>%"> -->
            </div>
          </div>
          
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button id="startBtn" class="acceptButton mt-4">Comenzar</button>
      </div>
    </div>
    <%-include('partials/footer') %>
    <div id="tutorialModal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title mx-auto">¿Como funciona?</h3>
          </div>
          <div class="modal-body">
            <!-- -- -->
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active row">
                  <p class="text-center my-5">Irán apareciendo distintas notas en pantalla </p>
                </div>
                <div class="carousel-item">
                  <p class="text-center my-5">Las teclas estan asociadas a una nota tal y como se muestra</p>
                </div>
                <div class="carousel-item">
                  <p class="text-center my-5">Adivina el mayor numero de notas en el menor tiempo posible</p>
                </div>
              </div>
              <button class="carousel-control-prev" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" style="filter: invert(100%);" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <!-- -- -->
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" data-bs-dismiss="modal" class="acceptButton-sm">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    <div id="resultModal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title mx-auto">Resultados</h3>
          </div>
          <div class="modal-body">
            <div id="debugDiv">
              <h2 id="timer">00:00:00</h2>
              <h1>Aciertos: <span id="aciertos">0</span></h1>
              <h1>Fallos: <span id="fallos">0</span></h1>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" data-bs-dismiss="modal" class="acceptButton-sm">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>
    <script type="module" src="/javascripts/vexManager.js"></script>
    <script type="module" src="/javascripts/cronometro.js"></script>
    <script type="module" src="/javascripts/animations.js"></script>
    <script type="module" src="/javascripts/gameCore.js"></script>
    <script>
      
      $(document).on("keydown", function() {
        if (event.key === "F2") {

          $("#myCanvas").css("background-color","green")
          $("#successMessage").css("opacity",1)
          $("#successMessage").addClass("bg-warning")
          $(".col-8").addClass("bg-danger")
          $("#streak").css("opacity",1)
          $("#streak").addClass("bg-warning")
        }
      })
      $(document).on("keyup", function() {
        if (event.key === "F2") {
          $("#myCanvas").css("background-color","")
          $("#successMessage").removeClass("bg-warning")
          $("#successMessage").css("opacity",0)
          $(".col-8").removeClass("bg-danger")
          $("#streak").css("opacity",0)
          $("#streak").removeClass("bg-warning")
        }
      })
    </script>
    <script>
      // setInterval(() => {
      //   window.location.reload();
      // }, 500);    
    </script>
  </body>
</html>